:host {
  width: 247px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.mat-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.mat-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.mat-card-content {
  font-size: 14px;
}
