.mat-card {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.mat-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.mat-card-content {
  font-size: 18px;
}
