:host {
  width: 20%;
  min-width: 300px;
  max-width: fit-content;
}

.card {
  position: relative;
  height: 100px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 2%;
}

.card-content {
  text-align: center;
}
