<h1 mat-dialog-title>{{ 'columns.createBoardModal.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'columns.createBoardModal.titleLabel' | translate }}</mat-label>
      <input matInput formControlName="title" />
      <mat-hint *ngIf="form.controls['title'].errors?.['maxlength']">{{
        'columns.createBoardModal.titleRequiredHint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="form.controls['title'].errors?.['required']">{{
        'columns.createBoardModal.titleLengthHint' | translate
      }}</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'center'">
  <button mat-button (click)="closeModal()">
    {{ 'columns.createBoardModal.cancelButton' | translate }}
  </button>
  <button [disabled]="form.invalid" mat-button [mat-dialog-close]="newColumn">
    {{ 'columns.createBoardModal.createButton' | translate }}
  </button>
</div>
