<mat-toolbar role="heading" class="header">
  <button *ngIf="authService.isAuth()" mat-icon-button (click)="headerService.toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="header__logo" src="../../../../assets/icons/logo.svg" alt="app logo" />
  <mat-form-field
    *ngIf="authService.isAuth()"
    class="header__search"
    floatLabel="never"
    appearance="fill"
  >
    <input type="search" matInput placeholder="Search for anything" autocomplete="off" />
    <mat-icon matPrefix class="header__search-icon">search</mat-icon>
  </mat-form-field>
  <div class="header__theme-wrapper" *ngIf="authService.isAuth()">
    <mat-icon color="primary">brightness_7</mat-icon>
    <mat-slide-toggle
      [(ngModel)]="headerService.sliderIsChecked"
      (change)="headerService.switchTheme($event)"
    ></mat-slide-toggle>
    <mat-icon color="primary">brightness_2</mat-icon>
  </div>
  <div class="header__btns-wrapper">
    <div class="header__auth-wrapper" *ngIf="!authService.isAuth()">
      <button mat-raised-button color="primary" routerLink="auth/logIn">Sign in</button>
      <button mat-raised-button color="accent" routerLink="auth/signUp">Sign up</button>
    </div>
    <div class="header__auth-wrapper" *ngIf="authService.isAuth()">
      <button (click)="authService.signOut()" mat-raised-button color="primary">Sign out</button>
    </div>
    <div class="header__select">
      <mat-icon class="header__select-icon">language</mat-icon>
      <mat-select [(value)]="headerService.currentLanguage" class="header__languages">
        <mat-option
          (click)="headerService.switchLanguage(language)"
          *ngFor="let language of languages"
          [value]="language"
        >
          {{ language }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="authIsLoading$ | async" mode="indeterminate"></mat-progress-bar>
