.mat-toolbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  column-gap: 20px;
}

.logo {
  width: 140px;
  cursor: pointer;
}

.mat-form-field {
  width: 500px;
}

.mat-icon {
  vertical-align: middle;
}

.mat-button-toggle-appearance-standard {
  background-color: #959595;
  color: #ffffff;
  font-size: 14px;
}

.mat-button-toggle-checked {
  background-color: #673ab7;
  color: #ffffff !important;
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
