.mat-toolbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  column-gap: 20px;
}

.mat-form-field {
  width: 500px;
}

.mat-icon {
  vertical-align: middle;
}

.mat-button-toggle-appearance-standard {
  background-color: #959595;
  color: #ffffff;
  font-size: 14px;
}

.mat-button-toggle-checked {
  background-color: #673ab7;
  color: #ffffff !important;
}

.mat-select {
  max-width: 117px;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #ffffff;
  background-color: #673ab7;
}

.mat-option {
  background-color: #7c4dff;
  height: 36px !important;
}

::ng-deep {
  .cdk-overlay-pane {
    transform: translateX(-10px) translateY(25px) !important;
    min-width: 70px !important;
  }
}

.header {
  &__logo {
    width: 140px;
    cursor: pointer;
  }

  &__btns-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
}
