.mat-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: grab;
}

.mat-card-content {
  width: 100%;
}

.task {
  &__title {
    padding-right: 50px;
    margin-bottom: 10px;
    font-size: 17px;
    word-break: break-word;
    cursor: default;
  }

  &__description {
    padding-right: 30px;
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: default;
  }

  &__delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.8);
    cursor: pointer;
  }

  &__points-done {
    display: flex;
    align-items: center;
    margin: -5px;
  }

  &__icon {
    transform: scale(0.6);
  }
}
