<mat-card>
  <mat-card-content (click)="editTask()">
    <h5 class="task__title">{{ task.title }}</h5>
    <p class="task__description">{{ task.description }}</p>
    <div class="task__points-done">
      <mat-icon *ngIf="taskPointsInfo.amount" class="task__icon">check_circle_outline</mat-icon>
      {{ taskPointsInfo.done }}<span *ngIf="taskPointsInfo.amount">/</span
      >{{ taskPointsInfo.amount }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon class="task__delete-btn" (click)="deleteTask()">delete_outline</mat-icon>
  </mat-card-actions>
</mat-card>
