.mat-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.mat-card-content {
  width: 100%;
}

.task__title {
  padding-right: 50px;
  margin-bottom: 10px;
  font-size: 17px;
  word-break: break-word;
}

.task__description {
  padding-right: 30px;
  word-break: break-word;
  font-size: 14px;
}

.task__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.5s;
}

.mat-card:hover .task__delete-btn {
  transition: 0.5s;
  opacity: 1;
}
