@use '@angular/material' as mat;
@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import './normalize.scss';
@import './dark-theme.scss';
@import './light-theme.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #6c63dd;
  border-radius: 5px;
}

.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}