<img class="logo" src="../../../../assets/icons/logo-large.svg" alt="welcome page logo" />
<h1 class="motto">
  The Best Way To Manage <br />
  Your Daily Tasks
</h1>
<p class="kanban-description">
  The Kanban method is based on six basic practices to create an emerging set of positive behaviors
  in organizations, and achieve better agility in the provision of services.
</p>
<div class="kanban-practices">
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-1.jpg" alt="kanban-practice" />
    <p>Limit Work-In-Progress</p>
  </div>
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-2.jpg" alt="kanban-practice" />
    <p>Improve collaboratively, evolve experimentally</p>
  </div>
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-3.jpg" alt="kanban-practice" />
    <p>Make policies explicit</p>
  </div>
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-4.jpg" alt="kanban-practice" />
    <p>Manage flow</p>
  </div>
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-5.jpg" alt="kanban-practice" />
    <p>Visualize</p>
  </div>
  <div class="kanban-practice">
    <img src="../../../../assets/welcome-page/kanban-practice-6.jpg" alt="kanban-practice" />
    <p>Implement feedback loops</p>
  </div>
</div>
