<img class="logo" src="../../../../assets/icons/logo-large.jpg" alt="welcome page logo" />
<h1 class="motto">
  The Best Way To Manage <br />
  Your Daily Tasks
</h1>
<section class="kanban">
  <h2 class="kanban__description">
    The Kanban method is based on six basic practices to create an emerging set of positive
    behaviors in organizations, and achieve better agility in the provision of services.
  </h2>
  <div class="kanban__practices">
    <div class="kanban__practice" *ngFor="let practice of kanbanPracticeCards">
      <img class="kanban__image" [src]="practice.src" alt="kanban-practice" />
      <p class="kanban__title">{{ practice.title }}</p>
    </div>
  </div>
</section>
<section class="productivity">
  <h2 class="title">
    Increase the productivity <br />
    of your team with <strong>Boards</strong>
  </h2>
  <div class="productivity__main">
    <img
      class="productivity__image"
      src="../../../../assets//welcome-page/productivity.jpg"
      alt="productivity"
    />
    <ul class="productivity__list">
      <li class="productivity__paragraph" *ngFor="let productivity of productivityList">
        {{ productivity }}
      </li>
    </ul>
  </div>
</section>
<section class="customize">
  <h2 class="title">Customize your <strong>Boards</strong></h2>
  <div class="customize__main">
    <div class="customize__description">
      <p class="customize__paragraph" *ngFor="let cusomizeParagraph of cusomizeParagraphs">
        {{ cusomizeParagraph }}
      </p>
    </div>
    <img
      class="customize__image"
      src="../../../../assets//welcome-page/customize.jpg"
      alt="customize"
    />
  </div>
</section>
<section class="rss">
  <h2 class="title">
    Learn Angular with <br />
    <strong>The Rolling Scopes School</strong>
  </h2>
  <div class="rss__main">
    <img class="rss__image" src="../../../../assets//welcome-page/rsschool.jpg" alt="rsschool" />
    <div class="rss__description">
      <p class="rss__paragraph" *ngFor="let rssParagraph of rssParagraphs">
        {{ rssParagraph }}
      </p>
      <a href="https://rs.school" class="rss__button" mat-raised-button target="_blank"
        >Learn more</a
      >
    </div>
  </div>
</section>
<section class="developers">
  <h2 class="title"><strong>Boards</strong> Developers</h2>
  <div class="developers__main">
    <div class="developers__card" *ngFor="let developer of developers">
      <img class="developers__image" [src]="developer.src" alt="Dzmitry Developer" />
      <h6 class="developers__name">{{ developer.name }}</h6>
      <p class="developers__content">{{ developer.about }}</p>
      <a
        class="developers__button"
        [href]="developer.github"
        mat-flat-button
        color="primary"
        target="_blank"
        >View GitHub</a
      >
    </div>
  </div>
</section>
