:host {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 40px 100px;
  cursor: default;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  color: #1e1b2d;
}

.mat-raised-button {
  align-self: center;
  margin-top: 60px;
  font-size: 22px;
  width: 220px;
  height: 50px;
}

.logo {
  margin-bottom: 40px;
  width: 460px;
}

.motto {
  margin-bottom: 70px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #677ecc;
}

.kanban {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 120px;

  &__description {
    max-width: 1100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #1e1b2d;
  }

  &__practices {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__practice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    max-width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1e1b2d;
  }
}

.productivity {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__image {
    max-width: 600px;
  }

  &__list {
    padding: 0 20px;
    list-style-type: '- ';
    font-size: 24px;
    color: #1e1b2d;
  }

  &__paragraph {
    line-height: 105%;
    margin-bottom: 5px;
  }
}

.customize {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__paragraph {
    font-size: 24px;
    color: #1e1b2d;
  }

  &__image {
    max-width: 600px;
  }
}

.rss {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__description {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__paragraph {
    text-align: center;
    font-size: 24px;
    color: #1e1b2d;
  }

  &__image {
    max-width: 600px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #bf64ff;
  }
}

.developers {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
      0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  &__image {
    width: 100%;
    margin: 0 0 10px 0;
  }

  &__name {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__content {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1330px) {
  .kanban {
    &__practices {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &__practice {
      max-width: 250px;
    }

    &__image {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1100px) {
  .kanban {
    margin-bottom: 70px;
  }

  .productivity {
    margin-bottom: 70px;

    &__main {
      flex-direction: column;
    }

    &__image {
      width: 90%;
    }

    &__paragraph {
      text-align: center;
      font-size: 22px;
    }
  }

  .customize {
    margin-bottom: 70px;

    &__main {
      flex-direction: column-reverse;
    }

    &__paragraph {
      text-align: center;
      font-size: 22px;
    }

    &__image {
      width: 90%;
    }
  }

  .rss {
    margin-bottom: 70px;

    &__main {
      flex-direction: column;
    }

    &__paragraph {
      font-size: 22px;
    }

    &__image {
      width: 90%;
    }
  }

  .developers {
    &__main {
      gap: 30px;
    }

    &__card {
      max-width: 300px;
      padding: 15px;
    }

    &__name {
      font-size: 24px;
    }

    &__content {
      font-size: 15px;
    }
  }
}

@media (max-width: 786px) {
  :host {
    padding: 150px 20px 100px;
  }

  .logo {
    width: 340px;
    margin-bottom: 20px;
  }

  .motto {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .kanban {
    &__description {
      font-size: 20px;
    }

    &__practices {
      grid-template-columns: repeat(2, 1fr);
    }

    &__practice {
      max-width: 200px;
    }
  }

  .title {
    font-size: 34px;
  }

  .productivity {
    &__paragraph {
      font-size: 18px;
    }
  }

  .customize {
    &__paragraph {
      font-size: 18px;
    }
  }

  .rss {
    &__paragraph {
      font-size: 18px;
    }
  }

  .developers {
    &__main {
      flex-direction: column;
    }

    &__card {
      max-width: 350px;
    }
  }
}

@media (max-width: 600px) {
  .logo {
    width: 260px;
  }

  .motto {
    font-size: 21px;
  }

  .title {
    font-size: 28px;
  }

  .kanban {
    &__description {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }

  .productivity {
    &__paragraph {
      font-size: 16px;
    }
  }

  .customize {
    &__paragraph {
      font-size: 16px;
    }
  }

  .rss {
    &__paragraph {
      font-size: 16px;
    }

    &__button {
      width: 180px;
      height: 40px;
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

@media (max-width: 450px) {
  .logo {
    width: 230px;
  }

  .motto {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .kanban {
    margin-bottom: 50px;

    &__description {
      font-size: 15px;
    }

    &__practices {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .productivity {
    margin-bottom: 50px;

    &__paragraph {
      font-size: 14px;
    }
  }

  .customize {
    margin-bottom: 50px;

    &__paragraph {
      font-size: 14px;
    }
  }

  .rss {
    margin-bottom: 50px;

    &__paragraph {
      font-size: 14px;
    }

    &__button {
      width: 120px;
      height: 30px;
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
