:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
  cursor: default;
}

.form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__btns {
    align-self: flex-end;
    display: flex;
    gap: 10px;
  }
}
