:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__btns {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
}

.mat-hint {
  color: #f44336;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .form {
    width: 270px;
  }
}
