<mat-card>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form">
    <h3 class="form__title">{{ 'editProfileForm.title' | translate }}</h3>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'editProfileForm.nameLabel' | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'editProfileForm.namePlaceholder' | translate }}"
        formControlName="name"
      />
      <mat-hint *ngIf="name?.errors?.['required'] && (name?.dirty || name?.touched)">{{
        'editProfileForm.nameRequiredHint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="name?.errors?.['minlength']">{{
        'editProfileForm.nameLengthHint' | translate
      }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'editProfileForm.loginLabel' | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'editProfileForm.loginPlaceholder' | translate }}"
        formControlName="login"
      />
      <mat-hint *ngIf="login?.errors?.['required'] && (login?.dirty || login?.touched)">{{
        'editProfileForm.loginRequiredHint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="login?.errors?.['minlength']">{{
        'editProfileForm.loginLengthHint' | translate
      }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'editProfileForm.passwordLabel' | translate }}</mat-label>
      <input
        matInput
        [type]="settingsService.passwordVisibility ? 'text' : 'password'"
        placeholder="{{ 'editProfileForm.passwordPlaceholder' | translate }}"
        formControlName="password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="settingsService.changePasswordVisibility($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="settingsService.passwordVisibility"
      >
        <mat-icon>{{
          settingsService.passwordVisibility ? 'visibility' : 'visibility_off'
        }}</mat-icon>
      </button>
      <mat-hint *ngIf="password?.errors?.['passwordStrength'] && password?.touched">
        {{password?.errors?.['passwordStrength']}}
      </mat-hint>
    </mat-form-field>
    <div class="form__btns">
      <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">
        {{ 'editProfileForm.editButton' | translate }}
      </button>
      <button mat-raised-button (click)="resetForm()">
        {{ 'editProfileForm.editResetButton' | translate }}
      </button>
    </div>
  </form>
</mat-card>
