<mat-card>
  <mat-card-header>
    <mat-card-title (click)="toggleEditMode()">
      {{ column.title }}
    </mat-card-title>
    <button
      mat-icon-button
      class="more-button"
      [matMenuTriggerFor]="menu"
      aria-label="Toggle menu"
      appClickStopPropagation
    >
      <button class="more" mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="deleteColumn()">Delete</button>
    </mat-menu>
  </mat-card-header>
  <form *ngIf="isEditMode" [formGroup]="form" class="form">
    <mat-form-field appearance="legacy">
      <input matInput formControlName="title" class="input" />
    </mat-form-field>
    <mat-icon (click)="updateTitle()">done</mat-icon>
  </form>
  <mat-card-content>
    <app-tasks [columnId]="column._id!"></app-tasks>
  </mat-card-content>
</mat-card>
