:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 4px 15px;
  flex-shrink: 0;
}

.footer__year {
  font-size: 16px;
  color: #1e1b2d;
  cursor: default;
}

.footer__githubs-main {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.footer__github {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #ffffff;
}

.footer__icon {
  width: 30px;
}

.footer__link {
  font-size: 14px;
  color: #1e1b2d;
  text-decoration: none;
}

.footer__logo {
  width: 80px;
}

.footer__githubs-adaptive {
  display: none;
}

@media (max-width: 768px) {
  .footer__githubs-main {
    display: none;
  }

  .footer__githubs-adaptive {
    display: flex;
  }

  .footer__githubs {
    line-height: 100%;
  }

  .footer__icon {
    width: 50px;
    margin-right: 10px;
  }

  .footer__link {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .footer__icon {
    width: 30px;
  }

  .footer__logo {
    width: 50px;
    margin-right: 5px;
  }

  .footer__year {
    font-size: 14px;
  }
}
