<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="headerService.isSideBarOpened">
    <mat-nav-list role="navigation" color="primary" *ngFor="let listItem of listItems">
      <mat-list-item role="listitem" [routerLink]="listItem.routerLink">
        <img class="list__icon" [src]="listItem.src" [alt]="listItem.title | lowercase" />
        <span class="list__title">{{ listItem.title }}</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list role="navigation">
      <div class="new-board">
        <span class="new-board__title">My boards</span>
        <app-create-board-button></app-create-board-button>
      </div>
      <mat-list-item *ngFor="let board of boards$ | async" (click)="openBoard(board)">{{
        board.title
      }}</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
