.mat-sidenav-container {
  position: absolute;
  top: 80px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 250px;
}

.mat-list-item {
  height: 40px !important;
  cursor: pointer;
}

.list__icon {
  padding-left: 20px;
}

.mat-divider {
  width: 90%;
  margin: 20px auto;
}

.list__icon {
  height: 22px;
  margin-right: 15px;
}

.new-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
}

.new-board__title {
  font-weight: 600;
  cursor: default;
}

.boards__list {
  padding: 0 0 0 20px;
  max-height: 200px;
  overflow: auto;
}

.boards__list::-webkit-scrollbar {
  width: 3px;
}

.boards__list::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 3px 0 0 3px;
}

@media (max-width: 768px) {
  .mat-sidenav-container {
    top: 90px;
  }
}
