<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="headerService.isSideBarOpened">
    <mat-nav-list role="navigation" color="primary">
      <mat-list-item role="listitem" routerLink="/">
        <img class="list__icon" src="../../../../assets/icons/sidebar/home.svg" alt="home" />
        <span class="list__title">{{ 'sidebar.menuList.home' | translate }}</span>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="/boards">
        <img class="list__icon" src="../../../../assets/icons/sidebar/boards.svg" alt="boards" />
        <span class="list__title">{{ 'sidebar.menuList.boards' | translate }}</span>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="/settings">
        <img
          class="list__icon"
          src="../../../../assets/icons/sidebar/settings.svg"
          alt="settings"
        />
        <span class="list__title">{{ 'sidebar.menuList.settings' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <h3 class="boards__title">{{ 'sidebar.title' | translate }}</h3>
    <mat-nav-list role="navigation" class="boards__list">
      <mat-list-item *ngFor="let board of boards$ | async" [routerLink]="['/boards', board._id]">
        <div class="list__dot" appGenerateColor></div>
        {{ board.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar *ngIf="columnsIsLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
