<mat-card>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
    <h3 class="form__title">Sign Up</h3>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name" formControlName="name" />
      <mat-hint *ngIf="name?.errors?.['required'] && (name?.dirty || name?.touched)"
        >Name is required.</mat-hint
      >
      <mat-hint *ngIf="name?.errors?.['minlength']"
        >Name must contain at least three characters.</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Enter your login" formControlName="login" autocomplete="off" />
      <mat-hint *ngIf="login?.errors?.['required'] && (login?.dirty || login?.touched)"
        >Login is required.</mat-hint
      >
      <mat-hint *ngIf="login?.errors?.['minlength']"
        >Login must contain at least three characters.</mat-hint
      >
      <mat-hint *ngIf="(loading$ | async) === false">
        <div *ngIf="(error$ | async)?.statusCode">{{ (error$ | async)?.message }}</div>
      </mat-hint>
      <mat-progress-spinner
        *ngIf="loading$ | async"
        matSuffix
        [mode]="'indeterminate'"
        [diameter]="20"
      >
      </mat-progress-spinner>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="authService.passwordVisibility ? 'text' : 'password'"
        placeholder="Enter your password"
        formControlName="password"
        autocomplete="off"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="authService.changePasswordVisibility($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="authService.passwordVisibility"
      >
        <mat-icon>{{ authService.passwordVisibility ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <mat-hint *ngIf="password?.errors?.['passwordStrength']">
        {{password?.errors?.['passwordStrength']}}
      </mat-hint>
    </mat-form-field>
    <div class="form__btns">
      <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
        SignUp
      </button>
      <button mat-raised-button (click)="resetForm()">Reset form</button>
    </div>
  </form>
</mat-card>
