:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8d2;
  // width: 100vw;
  height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}

.form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__btns {
    align-self: flex-end;
    display: flex;
    gap: 10px;
  }
}