:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__btns {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
}

.mat-hint {
  color: #f44336;
}

@media (max-width: 450px) {
  .form {
    width: 270px;
  }
}
