<form class="form-sign">
  <h3 class="form-title">Sign Up</h3>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" />
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput placeholder="Enter your login" />
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" />
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <div class="form-buttons">
    <button mat-raised-button color="primary">SignUp</button>
    <button mat-raised-button>Cancel</button>
  </div>
</form>
