:host {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-dialog-title {
  cursor: default;
}

.mat-dialog-content {
  width: 100%;
  padding: 0 !important;
  overflow: visible;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mat-hint {
  color: #f44336;
}

.textarea::-webkit-scrollbar {
  width: 3px;
}

.textarea::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 3px 0 0 3px;
}
