<h1 mat-dialog-title>{{ 'tasks.createTaskModal.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'tasks.createTaskModal.titleLabel' | translate }}</mat-label>
      <input matInput formControlName="title" />
      <mat-hint *ngIf="form.controls['title'].errors?.['maxlength']">{{
        'tasks.createTaskModal.titleLengthHint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="form.controls['title'].errors?.['required']">{{
        'tasks.createTaskModal.titleRequiredHint' | translate
      }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'tasks.createTaskModal.descriptionLabel' | translate }}</mat-label>
      <input matInput formControlName="description" />
      <mat-hint *ngIf="form.controls['description'].errors?.['maxlength']">{{
        'tasks.createTaskModal.descriptionLengthHint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="form.controls['description'].errors?.['required']">{{
        'tasks.createTaskModal.descriptionRequiredHint' | translate
      }}</mat-hint>
    </mat-form-field>
  </form>
</div>
<app-select-task-users (taskUsersChange)="onTasksUsersChange($event)"></app-select-task-users>
<div mat-dialog-actions [align]="'center'">
  <button mat-button (click)="closeModal()">
    {{ 'tasks.createTaskModal.cancelButton' | translate }}
  </button>
  <button [disabled]="form.invalid" mat-button [mat-dialog-close]="newTask">
    {{ 'tasks.createTaskModal.createButton' | translate }}
  </button>
</div>
