<h1 class="home__title">Get started with Boards</h1>
<p class="home__about">
  Welcome to Boards - visual work management tool that empowers teams to plan, manage and celebrate
  their work together in a collaborative, productive and organized way.
</p>
<p class="home__description">
  Whether you and your team are starting something new or trying to get more organized with your
  existing work, Boards adapts to any project. It helps you simplify and standardize your team’s
  work process in an intuitive way.
</p>
<div class="home__images">
  <div class="home__image-column">
    <h4 class="home__image-title">Intuitive menu</h4>
    <img class="home__image" src="../../../../assets/home-page/first.jpg" alt="first" />
  </div>
  <div class="home__image-column">
    <h4 class="home__image-title">Easy projects managment</h4>
    <img class="home__image" src="../../../../assets/home-page/second.jpg" alt="second" />
  </div>
  <div class="home__image-column">
    <h4 class="home__image-title">Simple organization of work process</h4>
    <img class="home__image" src="../../../../assets/home-page/third.jpg" alt="third" />
  </div>
</div>
